{% extends 'base.html' %}

{% block title %} Lista de Matriculas {%  endblock %}
{% block encabezado %}
	<h1> Lista de Matriculas </h1>
{% endblock %}

{% block nombre %}
Muestra lista de Matriculas error!
{% endblock %}

{% block content %}
	{% for elemento in profesores %}
	<ul class="lista">
	  	<li><strong><a href="/dato-profesor/{{elemento.id}}">{{elemento.nombre}}</a></strong></li>
	</ul>
	{% endfor %}

<p><a class="btn btn-primary btn-large", href="/add/profesor/"> Ingresar nuevo profesor &raquo;</a></p>
{% endblock %}